# Gradle
.gradle/
build/
app/build/

# Local configuration
local.properties

# IDE
.idea/
*.iml
.vscode/
.DS_Store

# Android
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.keystore
*.jks

# Logs
*.log
